<?xml version="1.0" ?>
<!-- PuzzleBot differential drive -->
<robot name="puzzlebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- ================ URDF VARIABLES ================ -->
	<xacro:property name="PI" value="3.1415926535897931"/>
	
	<!-- ******   Base-Link   ****** -->
	<link name="map">
	</link>

	
	<!-- ================ CHASIS ================ -->
	<joint name="base_link_to_chassis" type="fixed">
		<parent link="map"/>
		<child link="base_link"/>
	</joint>

	<link name="base_link">
		<pose>0 0 0 0 0 0</pose>
		<visual>					
			<origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
			<geometry>
				<mesh filename="file://$(find puzzlebot_sim)/meshes/MCR2_1000_13_Chassis.stl"/>
			</geometry> 			
		</visual>

	</link>
	

<!---->
</robot>
